/Seccion19Paquetes/nbproject/private/
/Seccion19Paquetes/build/
/Seccion21Arreglos/nbproject/private/
/Seccion21Arreglos/build/
/Ventas/nbproject/private/
/Ventas/build/
/MundoComputadora/nbproject/private/
/MundoComputadora/build/
